* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    align-items: center;
}


body {
    background-color: grey;
    align-items: center;
}
.boton{
    font-size: 20px;
    width: 200px;
    height: 30px;
    background-color: rgb(8, 223, 8);
    border-radius: 5px;
    align-items: center;
}
.boton:hover{
    background-color: pink;
    transform: scale(1.1,1.1);
}
.sectionONP{
    background-color: white;
    width: 400px;
    height: auto;
}
.sectionONP li{
    border: 1px rgb(29, 29, 29) solid;
    align-items: center;
}
.section{
    background-color: white;
    width: 400px;
    height: auto;
    border-radius: 5px;
    align-items: center;
}


  